backcall
cycler
decorator
ipython
ipython-genutils
jedi
joblib
kiwisolver
matplotlib
matplotlib-inline
numpy
pandas
parso
pexpect
pickleshare
Pillow
pkg_resources
prompt-toolkit
ptyprocess
Pygments
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
python-dateutil
pytz
scikit-learn
scipy
six
sklearn
threadpoolctl
traitlets
wcwidth
xarray
